.card__container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 2px solid lightgrey;
    /* border-radius: 5px; */
    padding: 0%;
    padding-left: 4%;
    cursor: pointer;
    box-shadow: 5 5 10px lightgrey;
    padding: 2% 2% 3% 3%;
}

.card__container:hover {
    border: 1px solid lightgrey;
}

.card__container a {
    color: rgb(102, 194, 250);
    font-weight: 100;
}

time {
    color: gray;
    font-weight: 100;
    padding: 0%;
}

.card__container h4 {
    margin-bottom: 0%;
}

.card__container--word h4 {
    color: rgb(57, 148, 204);
}

.card__container--design h4 {
    color: rgb(127, 177, 127);
}

.card__container h2 {
    margin-bottom: 0%;
    padding: 0%;
}

.card__container p {
    margin: 0%;
    padding: 0%;
}

.card__container--about {
    border: 0px !important;
    box-shadow: none !important;
}

.card__container--about a {
    padding: 1%;
}

.div--card__container--about {
    background-color: rgb(247, 244, 244);
}

.card__list--left {
    width: 90%;
    margin: 0;
}

.card__list--right {
    width: 40%;
    margin: 0;
}

.card__container--about h3 {
    padding-top: 1%;
    padding-bottom: 0%;
    margin-top: 7%;
    margin-bottom: 0%;
}

.pargraph__underline::after {
    content: '';
    display: block;
    width: 100%;
    top: 10px;
    padding-top: 2%;
    bottom: 30px;
    border-bottom: 1px solid lightgray;
}

.pargraph__withborder,
.span__withborder {
    display: inline-block;
    border: 1px solid lightgrey;
    padding-bottom: 1%;
    width: 100%;
}

.span__withborder {
    font-size: small;
    font-weight: 500;
    padding-bottom: 0%;
}

.section__button {
    padding-top: 3%;
}

button {
    border-radius: 10px;
    background-color: white;
    padding-top: 0.5%;
    border: 1px solid lightgrey;
}

.button__olderpost {
    border: 1px solid rgb(57, 148, 204);
    color: rgb(57, 148, 204);
}

.button__newerpost {
    border: 1px solid lightgray;
    color: lightgray;
}